.home {
  color: var(--dark-text);
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
}

.intro-question {
  font-weight: 700;
}

.all-questions {
  display: grid;
  grid-template-columns: 9rem 9rem;
  grid-auto-rows: 9rem;
  grid-gap: 25px;
  padding: 0 !important;
  justify-content: center;
}

.centered {
  float: none !important;
  margin: 0 auto;
}

grid-item {
  color: white;
}

.question-block {
  border-radius: 5px;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 0 7%;
  color: var(--light-text);
  font-size: 1.2rem;
}

//This is for Ipad & Desktop
@media only screen and (min-width: 600px) {
  .all-questions {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem 9rem;
    grid-auto-rows: 9rem;
    grid-gap: 25px;
    padding: 0 !important;
    justify-content: center;
  }
}
