@import "./home";
@import "./complexQuestion";

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

//didn't use it after all
@font-face {
  font-family: "OleoScript";
  src: local("OleoScript-Regular"),
    url(/fonts/OleoScript-Regular.ttf) format("truetype");
}

:root {
  --main-bg: #ffffff;
  --header: #004e64;
  --block-health: #cb2432;
  --block-biology: #00aa8d;
  --block-diet: #f65462;
  --block-technology: #437db8;
  --block-other: #004e64;
  --dark-text: #004e64;
  --light-text: #ffffff;
}

body {
  margin-bottom: 40px !important;
}

.App {
  background-color: var(--main-bg);
}

Button {
  background-color: #66c46c;
}

.drop-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0.3, 0.3, 0.2);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 !important;
  max-width: none !important;
}

row {
  width: 100vw !important;
  margin: 0 auto;
}

//CONTAINS STYLING FOR HEADER, NAVBAR & FOOTER

.header-container {
  background-color: var(--header);
  display: flex;
  padding: 10px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler-icon {
  font-size: 28px;
}

.logo {
  font-family: "Script MT", Arial, Helvetica, sans-serif;
  font-size: 25px !important;
  color: var(--light-text);
}

.about {
  padding-right: 60px;
  color: var(--light-text);
}

.user-icon {
  position: absolute;
  right: 25px;
  top: 28px;
  font-size: 28px;
  color: white;
}

footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: var(--header);
  color: var(--light-text);
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
}
